{<<"links">>,
 [{<<"Changelog">>,<<"https://github.com/richarc/qx/blob/main/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/richarc/qx">>}]}.
{<<"name">>,<<"qx_sim">>}.
{<<"version">>,<<"0.2.4">>}.
{<<"description">>,
 <<"A quantum computing simulator for Elixir with support for up to 20 qubits, statevector simulation, and circuit visualization">>}.
{<<"elixir">>,<<"~> 1.18">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/qx.ex">>,<<"lib/qx">>,<<"lib/qx/format.ex">>,
  <<"lib/qx/gates.ex">>,<<"lib/qx/simulation.ex">>,<<"lib/qx/qubit.ex">>,
  <<"lib/qx/behaviours">>,<<"lib/qx/behaviours/quantum_state.ex">>,
  <<"lib/qx/calc_fast.ex">>,<<"lib/qx/state_init.ex">>,
  <<"lib/qx/register.ex">>,<<"lib/qx/errors.ex">>,<<"lib/qx/math.ex">>,
  <<"lib/qx/draw.ex">>,<<"lib/qx/validation.ex">>,<<"lib/qx/operations.ex">>,
  <<"lib/qx/quantum_circuit.ex">>,<<"lib/qx/simulation_result.ex">>,
  <<"lib/qx/calc.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"app">>,<<"qx">>}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"nx">>},
   {<<"app">>,<<"nx">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.10">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"vega_lite">>},
   {<<"app">>,<<"vega_lite">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.1">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"complex">>},
   {<<"app">>,<<"complex">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.6">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"usage_rules">>},
   {<<"app">>,<<"usage_rules">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.1">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
